<% content_for :title do %>
  Page Not Found
<% end %>

<% content_for :content do %>
  <div class="container text-center">
    <h1 class="display-4 mt-4">Page Not Found</h1>
    <p>
      The page you requested does not exist.
    </p>
    <p>
      <a href="/" class="btn btn-primary">Return Home</a>
    </p>
  </div>
<% end %>
