<% content_for :title do %>
  PartyGamesBot Installed
<% end %>

<% content_for :content do %>
  <div class="container text-center">
    <h1 class="display-4 mt-4">Installed!</h1>
    <p>
      PartyGamesBot has been successfully installed in your Slack Workspace.
    </p>
    <p>
      <a href="/" class="btn btn-primary">Return Home</a>
    </p>
  </div>
<% end %>
